import random

class Hangman:
    '''
    A Hangman Game that asks the user for a letter and checks if it is in the word.
    It starts with a default number of lives and a random word from the word_list.
    '''
    def __init__(self, word_list, num_lives=5):
        self.word_list = word_list
        self.word = random.choice(word_list).lower()
        self.num_lives = num_lives
        self.word_guessed = ['_' for _ in self.word]
        self.num_letters = len(set(self.word))
        self.list_letters = []

        print(f"The mystery word has {len(self.word)} characters")
        print(self.word_guessed)

    def check_letter(self, letter) -> None:
        letter = letter.lower()
        if letter in self.word:
            print(f"Nice! {letter} is in the word.")
            for idx, char in enumerate(self.word):
                if char == letter:
                    self.word_guessed[idx] = letter
            self.num_letters -= 1
        else:
            self.num_lives -= 1
            print(f"Sorry, {letter} is not in the word.")
            print(f"You have {self.num_lives} lives left.")

    def ask_letter(self):
        while True:
            letter = input("Please enter a letter: ").lower()
            if len(letter) != 1:
                print("Please, enter just one character")
                continue
            if letter in self.list_letters:
                print(f"{letter} was already tried.")
                continue
            if not letter.isalpha():
                print("Please, enter a valid alphabetical character")
                continue
            self.list_letters.append(letter)
            self.check_letter(letter)
            break

def play_game(word_list):
    game = Hangman(word_list, num_lives=5)

    while game.num_lives > 0 and game.num_letters > 0:
        game.ask_letter()
        print(game.word_guessed)
        if '_' not in game.word_guessed:
            break

    if game.num_letters == 0:
        print("Congratulations, you won!")
    else:
        print(f"You ran out of lives. The word was {game.word}")

if __name__ == '__main__':
    word_list = ['apple', 'banana', 'orange', 'pear', 'strawberry', 'watermelon']
    play_game(word_list)
